<%- include('./includes/head.ejs') %>

<body>
    <h1>SE CARGO CON EXITO EL ARCHIVO.</h1>
    <label>
        DONE, 
    </label>

    <div style="margin-top: 50px;">
       <label>DESCARGAR BASE CSV</label>
       <a href='/ordenes' >IR A ORDENES</a>
    </div>

</body>